@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Kodchasan";
  src: url("../../public/fonts/Kodchasan/Kodchasan-Medium.ttf");
  font-weight: normal;
  color: "#339F6B";
}

body {
  color: #000000; /* Set the text color to black */
  background-color: #ffffff; /* Set the background color to white */
  overflow-x: hidden;
  overflow-y: hidden;
}

.circle {
  display: block;
  background: #339f6b;
  border-radius: 50%;
  height: 800px;
  width: 830px;
  position: absolute;
  right: -50px;
  top: -220px;
}

.icon {
  height: 120px;
  width: 120px;
}

.BEHS {
  font-family: Kodchasan;
  color: #339f6b;
  font-size: 120px;
}

.green-container {
  display: block;
  background: #339f6b;
  height: 90px;
  width: 193px;
  position: absolute;
}
